/* font-family: 'Noto Serif', serif; */
html, body {
    margin: 0;
    padding: 0;
}

body {    
    background-image: url(./assets/totoro025.jpg);
    background-size: cover;
    text-align: center;
}

.main {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    align-items: center;
    color:thistle;
}

.main h1 {
    font-family: 'Noto Serif', serif;
    /* color: #DDAF94; */
    color: #D7BD43;
    text-shadow: 2px 2px rgb(4, 90, 90);
}

.top-head {
    color: yellow;
    text-shadow: 2px 2px green;
    background-color: rgb(70, 148, 123, 0.5);
    padding-bottom: 10px;
}

.top-head h3 {
    font-family: 'Noto Serif', serif;
}

.card {
    background-color: #C07049;
    /* background-color: rgb(70,148,123); */
    border-radius: 50px;
    box-shadow: 20px 20px 10px rgba(206, 250, 250, 0.5);
    /* border-color: rgba(242, 255, 255, 0.5);
    border-width: 8px;
    border-style: dashed; */
    /* padding-bottom: 5em; */
}

.card-link {
    color:#FDF8F5;
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(70, 148, 123, 0.5);
    color: #FDF8F5;
    font-size: 20px; 
    font-style: italic;
    text-shadow: 2px 2px rgb(4, 90, 90);
    text-align: center;
 }

 .modal-content {
     color: rgb(4, 90, 90);
     background-color: rgb(245, 243, 141);
     border-radius: 30px;
 }

 /* BUTTONS */

 .btn-light, .btn-secondary {
     color: rgb(70, 255, 199);
     background: none;
 }

 .btn-light:hover, .btn-light:focus, .btn-light:active {
     color: green;
     border-color: yellow;
 }

 .modal-footer .btn {
     background-color: rgb(4, 90, 90);
 }

 .btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
     color: thistle;     
 }


 